body{
  background-color: #f0f2f5 !important;
}

.ui.inverted.top.fixed.menu {
  font-family: 'Dongle', sans-serif;
  font-family: 'Mochiy Pop P One', sans-serif;
  background-image: linear-gradient(135deg, rgb(10, 75, 115) 0%, rgb(200, 138, 255) 69%, rgb(20, 50, 160) 89%) !important;
}

.masthead {
  display: flex;
  align-items: center;
  background-color: grey!important;
  height: 100vh;
}